.0_14 { 
	overflow:hidden;
}
.fa{
	color: white;
}
.fab{
	color: white;
}
.fas{
	color: white;
}
.e0_14 { 
	background-color:rgba(255, 255, 255, 1);
	width:1917px;
	height:1078px;
	position:absolute;
}
.e0_15 { 
	width:1917px;
	height:1078px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e0_16 { 
	background-color:rgba(33.00000183284283, 32.00000189244747, 34.00000177323818, 1);
	width:51px;
	height:1078px;
	position:absolute;
	left:0px;
	top:0px;
}
.e0_17 { 
	background-color:rgba(30.98958671092987, 185.9375050663948, 55.78126519918442, 1);
	width:51px;
	height:51px;
	position:absolute;
	left:0px;
	top:0px;
}
.e0_18 { 
	width:24px;
	height:24px;
	position:absolute;
	left:13px;
	top:14px;
}
.e0_19 { 
	background-color:rgba(255, 255, 255, 0.7799999713897705);
	width:20px;
	height:17.5px;
	position:absolute;
	left:2px;
	top:3.25px;
}
.e0_20 { 
	background-color:rgba(33.00000183284283, 32.00000189244747, 34.00000177323818, 1);
	width:51px;
	height:51px;
	position:absolute;
	left:0px;
	top:51px;
}
.e0_21 { 
	width:24px;
	height:24px;
	position:absolute;
	left:13px;
	top:65px;
}
.e0_22 { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:17.50005340576172px;
	height:20px;
	position:absolute;
	left:3.2499732971191406px;
	top:2px;
}
.e0_23 { 
	background-color:rgba(33.00000183284283, 32.00000189244747, 34.00000177323818, 1);
	width:51px;
	height:51px;
	position:absolute;
	left:0px;
	top:102px;
}
.e0_24 { 
	width:24px;
	height:24px;
	position:absolute;
	left:13px;
	top:116px;
}
.e0_25 { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:20px;
	height:13.333333015441895px;
	position:absolute;
	left:2px;
	top:5.333333492279053px;
}
.e0_26 { 
	background-color:rgba(33.00000183284283, 32.00000189244747, 34.00000177323818, 1);
	width:51px;
	height:51px;
	position:absolute;
	left:0px;
	top:153px;
}
.e0_27 { 
	width:24px;
	height:24px;
	position:absolute;
	left:13px;
	top:167px;
}
.e0_28 { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:17.5px;
	height:20px;
	position:absolute;
	left:3.25px;
	top:2px;
}
.e0_29 { 
	background-color:rgba(195.49999594688416, 16.2916561961174, 16.2916561961174, 1);
	width:51px;
	height:51px;
	position:absolute;
	left:0px;
	top:1027px;
}
.e0_30 { 
	width:24px;
	height:24px;
	position:absolute;
	left:13px;
	top:1041px;
}
.e0_31 { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:20px;
	height:15.241381645202637px;
	position:absolute;
	left:2px;
	top:4.379309177398682px;
}
.e0_32 { 
	background-color:rgba(33.00000183284283, 32.00000189244747, 34.00000177323818, 1);
	width:51px;
	height:51px;
	position:absolute;
	left:0px;
	top:874px;
}
.e0_33 { 
	width:24px;
	height:24px;
	position:absolute;
	left:13px;
	top:888px;
}
.e0_34 { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:20px;
	height:15px;
	position:absolute;
	left:2px;
	top:4.5px;
}
.e0_35 { 
	background-color:rgba(33.00000183284283, 32.00000189244747, 34.00000177323818, 1);
	width:51px;
	height:51px;
	position:absolute;
	left:0px;
	top:976px;
}
.e0_36 { 
	width:24px;
	height:24px;
	position:absolute;
	left:13px;
	top:990px;
}
.e0_37 { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:19.145931243896484px;
	height:20px;
	position:absolute;
	left:2.427034378051758px;
	top:2px;
}
.e0_38 { 
	background-color:rgba(33.00000183284283, 32.00000189244747, 34.00000177323818, 1);
	width:51px;
	height:51px;
	position:absolute;
	left:0px;
	top:925px;
}
.e0_39 { 
	width:24px;
	height:24px;
	position:absolute;
	left:13px;
	top:939px;
}
.e0_40 { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
}
.e0_41 { 
	background-color:rgba(33.00000183284283, 32.00000189244747, 34.00000177323818, 1);
	width:51px;
	height:51px;
	position:absolute;
	left:0px;
	top:823px;
}
.e0_42 { 
	width:24px;
	height:24px;
	position:absolute;
	left:13px;
	top:837px;
}
.e0_43 { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
}
.e0_44 { 
	background-color:rgba(33.00000183284283, 32.00000189244747, 34.00000177323818, 1);
	width:51px;
	height:51px;
	position:absolute;
	left:0px;
	top:204px;
}
.e0_45 { 
	width:24px;
	height:24px;
	position:absolute;
	left:13px;
	top:218px;
}
.e0_46 { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:18.064865112304688px;
	height:20px;
	position:absolute;
	left:2.9675674438476562px;
	top:2px;
}
.e0_47 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:1866px;
	height:0px;
	position:absolute;
	left:51px;
	top:1027px;
}
.0_47 { 
	border:1px solid rgba(37.00000159442425, 36.00000165402889, 37.00000159442425, 1);
}
.e0_48 { 
	background-color:rgba(52.000000700354576, 51.00000075995922, 52.000000700354576, 1);
	width:1866px;
	height:51px;
	position:absolute;
	left:51px;
	top:1027px;
}
.e0_49 { 
	background-color:rgba(35.00000171363354, 33.00000183284283, 35.00000171363354, 1);
	width:327px;
	height:51px;
	position:absolute;
	left:51px;
	top:1027px;
}
.e0_50 { 
	width:69px;
	height:24px;
	position:absolute;
	left:85px;
	top:1041px;
}
.e0_51 { 
	color:rgba(255, 255, 255, 1);
	width:69px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e0_52 { 
	width:24px;
	height:24px;
	position:absolute;
	left:160px;
	top:1041px;
}
.e0_53 { 
	background-color:rgba(30.98958671092987, 185.9375050663948, 55.78126519918442, 1);
	width:20px;
	height:13.333333015441895px;
	position:absolute;
	left:2px;
	top:5.333333492279053px;
}
.e0_54 { 
	width:108px;
	height:24px;
	position:absolute;
	left:198px;
	top:1041px;
}
.e0_55 { 
	color:rgba(255, 255, 255, 1);
	width:108px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e0_56 { 
	width:24px;
	height:24px;
	position:absolute;
	left:320px;
	top:1041px;
}
.e0_57 { 
	background-color:rgba(195.49999594688416, 16.2916561961174, 16.2916561961174, 1);
	width:20px;
	height:13.333333015441895px;
	position:absolute;
	left:2px;
	top:5.333333492279053px;
}
.e0_58 { 
	background-color:rgba(30.98958671092987, 185.9375050663948, 55.78126519918442, 1);
	width:245px;
	height:51px;
	position:absolute;
	left:378px;
	top:1027px;
}
.e0_59 { 
	transform: rotate(90deg);
	width:51px;
	height:0px;
	position:absolute;
	left:378px;
	top:1027px;
}
.0_59 { 
	border:1px solid rgba(37.00000159442425, 36.00000165402889, 37.00000159442425, 1);
}
.e0_60 { 
	transform: rotate(90deg);
	width:51px;
	height:0px;
	position:absolute;
	left:623px;
	top:1027px;
}
.0_60 { 
	border:1px solid rgba(37.00000159442425, 36.00000165402889, 37.00000159442425, 1);
}
.e0_61 { 
	color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:208px;
	height:19px;
	position:absolute;
	left:396px;
	top:1034px;
	font-family:Russo One;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e0_62 { 
	color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:208px;
	height:19px;
	position:absolute;
	left:396px;
	top:1053px;
	font-family:Russo One;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e0_63 { 
	color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:125px;
	height:43px;
	position:absolute;
	left:479px;
	top:1038px;
	font-family:Russo One;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e0_64 { 
	background-color:rgba(30.98958671092987, 185.9375050663948, 55.78126519918442, 1);
	width:245px;
	height:51px;
	position:absolute;
	left:623px;
	top:1027px;
}
.e0_65 { 
	transform: rotate(90deg);
	width:51px;
	height:0px;
	position:absolute;
	left:623px;
	top:1027px;
}
.0_65 { 
	border:1px solid rgba(37.00000159442425, 36.00000165402889, 37.00000159442425, 1);
}
.e0_66 { 
	transform: rotate(90deg);
	width:51px;
	height:0px;
	position:absolute;
	left:868px;
	top:1027px;
}
.0_66 { 
	border:1px solid rgba(37.00000159442425, 36.00000165402889, 37.00000159442425, 1);
}
.e0_67 { 
	color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:208px;
	height:19px;
	position:absolute;
	left:641px;
	top:1034px;
	font-family:Russo One;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e0_68 { 
	color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:208px;
	height:19px;
	position:absolute;
	left:641px;
	top:1053px;
	font-family:Russo One;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e0_69 { 
	color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:125px;
	height:43px;
	position:absolute;
	left:724px;
	top:1038px;
	font-family:Russo One;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e0_70 { 
	background-color:rgba(195.49999594688416, 16.2916561961174, 16.2916561961174, 1);
	width:245px;
	height:51px;
	position:absolute;
	left:868px;
	top:1027px;
}
.e0_71 { 
	transform: rotate(90deg);
	width:51px;
	height:0px;
	position:absolute;
	left:868px;
	top:1027px;
}
.0_71 { 
	border:1px solid rgba(37.00000159442425, 36.00000165402889, 37.00000159442425, 1);
}
.e0_72 { 
	transform: rotate(90deg);
	width:51px;
	height:0px;
	position:absolute;
	left:1113px;
	top:1027px;
}
.0_72 { 
	border:1px solid rgba(37.00000159442425, 36.00000165402889, 37.00000159442425, 1);
}
.e0_73 { 
	color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:208px;
	height:19px;
	position:absolute;
	left:886px;
	top:1034px;
	font-family:Russo One;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e0_74 { 
	color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:208px;
	height:19px;
	position:absolute;
	left:886px;
	top:1053px;
	font-family:Russo One;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e0_75 { 
	color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:125px;
	height:43px;
	position:absolute;
	left:969px;
	top:1038px;
	font-family:Russo One;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e0_76 { 
	background-color:rgba(30.98958671092987, 185.9375050663948, 55.78126519918442, 1);
	width:245px;
	height:51px;
	position:absolute;
	left:1113px;
	top:1027px;
}
.e0_77 { 
	transform: rotate(90deg);
	width:51px;
	height:0px;
	position:absolute;
	left:1113px;
	top:1027px;
}
.0_77 { 
	border:1px solid rgba(37.00000159442425, 36.00000165402889, 37.00000159442425, 1);
}
.e0_78 { 
	transform: rotate(90deg);
	width:51px;
	height:0px;
	position:absolute;
	left:1358px;
	top:1027px;
}
.0_78 { 
	border:1px solid rgba(37.00000159442425, 36.00000165402889, 37.00000159442425, 1);
}
.e0_79 { 
	color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:208px;
	height:19px;
	position:absolute;
	left:1131px;
	top:1034px;
	font-family:Russo One;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e0_80 { 
	color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:208px;
	height:19px;
	position:absolute;
	left:1131px;
	top:1053px;
	font-family:Russo One;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e0_81 { 
	color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:125px;
	height:43px;
	position:absolute;
	left:1214px;
	top:1038px;
	font-family:Russo One;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e0_82 { 
	background-color:rgba(195.49999594688416, 136.1201110482216, 20.853357017040253, 1);
	width:245px;
	height:51px;
	position:absolute;
	left:1358px;
	top:1027px;
}
.e0_83 { 
	transform: rotate(90deg);
	width:51px;
	height:0px;
	position:absolute;
	left:1358px;
	top:1027px;
}
.0_83 { 
	border:1px solid rgba(37.00000159442425, 36.00000165402889, 37.00000159442425, 1);
}
.e0_84 { 
	transform: rotate(90deg);
	width:51px;
	height:0px;
	position:absolute;
	left:1603px;
	top:1027px;
}
.0_84 { 
	border:1px solid rgba(37.00000159442425, 36.00000165402889, 37.00000159442425, 1);
}
.e0_85 { 
	color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:208px;
	height:19px;
	position:absolute;
	left:1376px;
	top:1034px;
	font-family:Russo One;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e0_86 { 
	color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:208px;
	height:19px;
	position:absolute;
	left:1376px;
	top:1053px;
	font-family:Russo One;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e0_87 { 
	background-color:rgba(30.98958671092987, 185.9375050663948, 55.78126519918442, 1);
	width:245px;
	height:51px;
	position:absolute;
	left:1603px;
	top:1027px;
}
.e0_88 { 
	transform: rotate(90deg);
	width:51px;
	height:0px;
	position:absolute;
	left:1603px;
	top:1027px;
}
.0_88 { 
	border:1px solid rgba(37.00000159442425, 36.00000165402889, 37.00000159442425, 1);
}
.e0_89 { 
	transform: rotate(90deg);
	width:51px;
	height:0px;
	position:absolute;
	left:1848px;
	top:1027px;
}
.0_89 { 
	border:1px solid rgba(37.00000159442425, 36.00000165402889, 37.00000159442425, 1);
}
.e0_90 { 
	color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:208px;
	height:19px;
	position:absolute;
	left:1621px;
	top:1034px;
	font-family:Russo One;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e0_91 { 
	color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:208px;
	height:19px;
	position:absolute;
	left:1621px;
	top:1053px;
	font-family:Russo One;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e0_92 { 
	color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:125px;
	height:43px;
	position:absolute;
	left:1704px;
	top:1038px;
	font-family:Russo One;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e0_93 { 
	background-color:rgba(35.00000171363354, 33.00000183284283, 35.00000171363354, 1);
	width:68px;
	height:51px;
	position:absolute;
	left:1849px;
	top:1027px;
}
.e0_94 { 
	width:24px;
	height:24px;
	position:absolute;
	left:1871px;
	top:1041px;
}
.e0_95 { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:5.806451797485352px;
	height:20px;
	position:absolute;
	left:9.096774101257324px;
	top:2px;
}
